APP_NAME="Riwi Portal"

ENVIRONMENT=development

FRONTEND_URL=http://localhost:5173

MICROSOFT_CLIENT_ID=

MICROSOFT_CLIENT_SECRET=

MICROSOFT_TENANT_ID=

MICROSOFT_REDIRECT_URI=http://localhost:8000/api/auth/callback

JWT_SECRET=

JWT_ALGORITHM=HS256

JWT_EXPIRE_MINUTES=60

# Conexion DB
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:0000/db_postgres