APP_NAME="Riwi Portal"

ENVIRONMENT=development

FRONTEND_URL=http://localhost:5173

MICROSOFT_CLIENT_ID=

MICROSOFT_CLIENT_SECRET=

MICROSOFT_TENANT_ID=

MICROSOFT_REDIRECT_URI=http://localhost:8000/api/auth/callback

JWT_SECRET=

JWT_ALGORITHM=RS256

JWT_EXPIRE_MINUTES=60

JWT_KID=orbita-2026-08

# PEM RSA private key, generate with:
#   openssl genrsa -out private.pem 2048
JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
...
-----END PRIVATE KEY-----"

# PEM RSA public key, generate with:
#   openssl rsa -in private.pem -pubout -out public.pem
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
...
-----END PUBLIC KEY-----"

# Conexion DB
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:0000/db_postgres